telethon
telethon-tgcrypto
tgcrypto

pyrofork
python-dotenv

aiohttp
aiofiles

motor
pymongo

opencv-python-headless
Pillow

psutil
pytz
mutagen
yt-dlp
requests
cryptography

flask
werkzeug==2.2.2

devgagantools
